 html body{
    background-color: brown;
}

*{
    transition: 0.5s;
}
#word{
    text-align: center;
    margin-top: 20px;
    font-style: italic;
    font-weight:bold;
    color: white;
}
#input{
    border-radius:10px;
}
#group1{
display: flex;
justify-content: center;
position: relative;
top:2vw;
}
#line{
    position: relative;
    top: 4vw;
    border: 1px solid black;
}
#word1{
    text-align: center;
    margin-top: 60px;
    color: white;
}
#img{
    width:25vvw;
    height:25vh;
}
#img1{
    display:flex;
    justify-content: center;
}
#word2{
    margin-top: 20px;
    color: white;
}
#line2{
    border: 1px solid black;
}
#word3{
    margin-left:10px;
    color: white;
}
.meals{
    margin-bottom: 1rem;
    width: calc(33.33% - 1rem);
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.meals img {
    width:20vw;
    height: auto;
    border-radius: 8px;
    margin-bottom:30px ;
}
#display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    margin-top: 30px;
}
.meals img:hover{
    transform: scale(1.25);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6); 
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 50%;
    height: 50%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid brown;
    max-width: 600px;
    width: 80%;
    text-align: center; 
}

.modal-content img {
    max-width: 50%; 
    height: auto;
    display: block;
    margin: 0 auto; 
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
@media(max-width:1024px){
    .modal-body iframe{
        width: 70vw;
        height: 70vw;
    }
}


